{
  "whitelist" : [
    "es6.destructuring",
    "es6.parameters",
    "es6.spread",
    "es6.arrowFunctions"
  ],
  "comments" : true,
  "loose" : "all",
  "sourceMaps" : true,
  "sourceRoot" : "./",
  "stage" : 0
}
